*{
  margin: 0px;
  padding: 0px;

}

body{
  background-color: antiquewhite;
}
.img{
  display: flex;
  height: 400px;
  margin: 30px 20px;
  display: inline;
}

[alt="Dokkan"]{
  filter: drop-shadow(10px 20px 10px red);
}

[alt="15Dokkan"]{
  filter: drop-shadow(10px 20px 10px purple);
}

[alt="androide17"]{
  filter: drop-shadow(10px 20px 10px red);
}

[alt="androide19"]{
  filter: drop-shadow(10px 20px 10px red);
}

[alt="androide13"]{
  filter: drop-shadow(10px 20px 10px red);
}

[alt="androide18"]{
  filter: drop-shadow(10px 20px 10px red);
}

[alt="Dende"]{
  filter: drop-shadow(10px 20px 10px red);
}

[alt="babidi"]{
  filter: drop-shadow(10px 20px 10px red);
}

[alt="bardock"]{
  filter: drop-shadow(10px 20px 10px red);
}

[alt="broly"]{
  filter: drop-shadow(10px 20px 10px red);
}

[alt="bulma"]{
  filter: drop-shadow(10px 20px 10px red);
}

[alt="buugordo"]{
  filter: drop-shadow(10px 20px 10px red);
}

[alt="celula"]{
  filter: drop-shadow(10px 20px 10px red);
}

[alt="chichi"]{
  filter: drop-shadow(10px 20px 10px red);
}

[alt="dende"]{
  filter: drop-shadow(10px 20px 10px red);
}

[alt="dispo"]{
  filter: drop-shadow(10px 20px 10px red);
}

[alt="dodoria"]{
  filter: drop-shadow(10px 20px 10px red);
}

[alt="androide20"]{
  filter: drop-shadow(10px 20px 10px red);
}

[alt="finalyamcha"]{
  filter: drop-shadow(10px 20px 10px red);
}

[alt="freezer"]{
  filter: drop-shadow(10px 20px 10px red);
}

[alt="ginyu"]{
  filter: drop-shadow(10px 20px 10px red);
}

[alt="gohan"]{
  filter: drop-shadow(10px 20px 10px red);
}

[alt="gokunormal"]{
  filter: drop-shadow(10px 20px 10px red);
}

[alt="gotenks"]{
  filter: drop-shadow(10px 20px 10px red);
}

[alt="grankaiosama12"]{
  filter: drop-shadow(10px 20px 10px red);
}

[alt="grandpriest"]{
  filter: drop-shadow(10px 20px 10px red);
}

[alt="kaiodeleste"]{
  filter: drop-shadow(10px 20px 10px red);
}

[alt="kaiodeloeste"]{
  filter: drop-shadow(10px 20px 10px red);
}

[alt="kaiosamadelnorte"]{
  filter: drop-shadow(10px 20px 10px red);
}

[alt="kaiodelsurcuerpocompleto"]{
  filter: drop-shadow(10px 20px 10px red);
}

[alt="kaiodelsurcuerpocompleto"]{
  filter: drop-shadow(10px 20px 10px red);
}

[alt="kaiodelsurcuerpocompleto"]{
  filter: drop-shadow(10px 20px 10px red);
}

[alt="kaiodelsurcuerpocompleto"]{
  filter: drop-shadow(10px 20px 10px red);
}

[alt="kaiodelsurcuerpocompleto"]{
  filter: drop-shadow(10px 20px 10px red);
}

[alt="kaiodelsurcuerpocompleto"]{
  filter: drop-shadow(10px 20px 10px red);
}

[alt="kaiodelsurcuerpocompleto"]{
  filter: drop-shadow(10px 20px 10px red);
}

[alt="kaiodelsurcuerpocompleto"]{
  filter: drop-shadow(10px 20px 10px red);
}

[alt="kaiodelsurcuerpocompleto"]{
  filter: drop-shadow(10px 20px 10px red);
}

[alt="kaiodelsurcuerpocompleto"]{
  filter: drop-shadow(10px 20px 10px red);
}

[alt="kaiodelsurcuerpocompleto"]{
  filter: drop-shadow(10px 20px 10px red);
}

[alt="kaiodelsurcuerpocompleto"]{
  filter: drop-shadow(10px 20px 10px red);
}

[alt="kaiodelsurcuerpocompleto"]{
  filter: drop-shadow(10px 20px 10px red);
}

[alt="kaiodelsurcuerpocompleto"]{
  filter: drop-shadow(10px 20px 10px red);
}

[alt="kaiodelsurcuerpocompleto"]{
  filter: drop-shadow(10px 20px 10px red);
}
