*{
  margin: 0px;
  padding: 0px;

}

body{
  background-color: antiquewhite;
}
.img{
  display: flex;
  height: 400px;
  margin: 30px 20px;
  display: inline;
}

[alt="Dokkan"]{
  filter: drop-shadow(10px 20px 10px white);
}

[alt="15Dokkan"]{
  filter: drop-shadow(10px 20px 10px purple);
}

[alt="androide17"]{
  filter: drop-shadow(10px 20px 10px white);
}

[alt="androide19"]{
  filter: drop-shadow(10px 20px 10px white);
}

[alt="androide13"]{
  filter: drop-shadow(10px 20px 10px white);
}

[alt="androide18"]{
  filter: drop-shadow(10px 20px 10px white);
}

[alt="Dende"]{
  filter: drop-shadow(10px 20px 10px white);
}

[alt="babidi"]{
  filter: drop-shadow(10px 20px 10px white);
}

[alt="bardock"]{
  filter: drop-shadow(10px 20px 10px white);
}

[alt="beerus"]{
  filter: drop-shadow(10px 20px 10px purple);
}

[alt="bulma"]{
  filter: drop-shadow(10px 20px 10px white);
}

[alt="buugordo"]{
  filter: drop-shadow(10px 20px 10px pink);
}

[alt="celula"]{
  filter: drop-shadow(10px 20px 10px yellow);
}

[alt="chichi"]{
  filter: drop-shadow(10px 20px 10px white);
}

[alt="dende"]{
  filter: drop-shadow(10px 20px 10px white);
}

[alt="dispo"]{
  filter: drop-shadow(10px 20px 10px white);
}

[alt="dodoria"]{
  filter: drop-shadow(10px 20px 10px pink);
}

[alt="androide20"]{
  filter: drop-shadow(10px 20px 10px white);
}

[alt="finalyamcha"]{
  filter: drop-shadow(10px 20px 10px white);
}

[alt="freezer"]{
  filter: drop-shadow(10px 20px 10px purple);
}

[alt="ginyu"]{
  filter: drop-shadow(10px 20px 10px white);
}

[alt="gohan"]{
  filter: drop-shadow(10px 20px 10px white);
}

[alt="gokunormal"]{
  filter: drop-shadow(10px 20px 10px white);
}

[alt="gotenks"]{
  filter: drop-shadow(10px 20px 10px white);
}

[alt="grankaiosama12"]{
  filter: drop-shadow(10px 20px 10px white);
}

[alt="grandpriest"]{
  filter: drop-shadow(10px 20px 10px white);
}

[alt="kaiodeleste"]{
  filter: drop-shadow(10px 20px 10px white);
}

[alt="kaiodeloeste"]{
  filter: drop-shadow(10px 20px 10px white);
}

[alt="kaiodelnorte"]{
  filter: drop-shadow(10px 20px 10px white);
}

[alt="jiren"]{
  filter: drop-shadow(10px 20px 10px red);
}

[alt="kaiodelsurcuerpocompleto"]{
  filter: drop-shadow(10px 20px 10px white);
}

[alt="kaioshindeleste"]{
  filter: drop-shadow(10px 20px 10px white);
}

[alt="kaioshindelnorte"]{
  filter: drop-shadow(10px 20px 10px white);
}

[alt="kaioshindeleste2"]{
  filter: drop-shadow(10px 20px 10px white);
}

[alt="kaioshindeloeste"]{
  filter: drop-shadow(10px 20px 10px white);
}

[alt="kaioshindelsur"]{
  filter: drop-shadow(10px 20px 10px white);
}

[alt="kibito"]{
  filter: drop-shadow(10px 20px 10px white);
}

[alt="kibitoshin"]{
  filter: drop-shadow(10px 20px 10px white);
}

[alt="krillin7"]{
  filter: drop-shadow(10px 20px 10px white);
}

[alt="lunchsirvienta"]{
  filter: drop-shadow(10px 20px 10px white);
}

[alt="marcarita"]{
  filter: drop-shadow(10px 20px 10px white);
}

[alt="mrsatan"]{
  filter: drop-shadow(10px 20px 10px white);
}

[alt="nail"]{
  filter: drop-shadow(10px 20px 10px white);
}

[alt="picolo"]{
  filter: drop-shadow(10px 20px 10px white);
}


[alt="raditz"]{
  filter: drop-shadow(10px 20px 10px white);
}

[alt="roshi"]{
  filter: drop-shadow(10px 20px 10px white);
}


[alt="shinenbucchigiri"]{
  filter: drop-shadow(10px 20px 10px white);
}


[alt="tenshinhan"]{
  filter: drop-shadow(10px 20px 10px white);
}


[alt="toppo"]{
  filter: drop-shadow(10px 20px 10px purple);
}


[alt="trunksbuu"]{
  filter: drop-shadow(10px 20px 10px white);
}

[alt="vegetanormal"]{
  filter: drop-shadow(10px 20px 10px white);
}

[alt="vermoud"]{
  filter: drop-shadow(10px 20px 10px white);
}

[alt="whisdbsbroly"]{
  filter: drop-shadow(10px 20px 10px white);
}

[alt="zarbon"]{
  filter: drop-shadow(10px 20px 10px white);
}

[alt="zeno"]{
  filter: drop-shadow(10px 20px 10px white);
}